{% extends "dashboard/navbar.html" %}
{% load pipeline %}

{% block head_css %}
	{% stylesheet 'device_resources' %}
{% endblock %}

{% block head_js %}
	{% javascript 'device_resources' %}
{% endblock %}

{% block content %}
	<div class="row">
		{% if existing_devices %}
			<div class="col-lg-10">
				<div class="panel panel-default">
					<div class="panel-heading">{{ current_device }}</div>
					<div class="panel-body">
						<ul class="nav nav-tabs">
							<li role="presentation" {% if current_tab == 'ms' %}class="active"{% endif %}><a href="?device_name={{ current_device }}&tab_name=ms">Measure</a></li>
							<li role="presentation" {% if current_tab == 'cd' %}class="active"{% endif %}><a href="?device_name={{ current_device }}&tab_name=cd">Command</a></li>
							<li role="presentation" {% if current_tab == 'cf' %}class="active"{% endif %}><a href="?device_name={{ current_device }}&tab_name=cf">Configuration</a></li>
						</ul>
						<table class="table">
							<thead>
								<tr>
									<th>Address</th>
									<th>Name</th>
									<th>Description</th>
									{% if current_tab == 'ms' %}
										<th>Unit</th>
									{% endif %}
									<th>Dimension</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for resource in resources %}
									<tr>
										<td>{{ resource.address }}</td>
										<td>{{ resource.name }}</td>
										<td>{{ resource.description }}</td>
										{% if current_tab == 'ms' %}
											<td>{{ resource.unit}}</td>
										{% endif %}
										{% if resource.dimension == 'bl' %}
											{% if resource.mode == 'wo' %}
												<td>Boolean</td>
												<td><button id="at-resource{{ resource.address }}-true" class="btn btn-default" type="button" style="margin-right: 1em;">True</button><button id="at-resource{{ resource.address }}-false" class="btn btn-default" type="button">False</button></td>
											{% else %}
												<td><input id="ds-resource{{ resource.address }}" type="checkbox" name="bl-switch" data-size="mini" data-indeterminate="true" {% if resource.mode == 'ro' %}readonly{% endif %}></td>
												<td><button id="at-resource{{ resource.address }}" class="btn btn-default" type="button">Read</button></td>
											{% endif %}
										{% elif resource.dimension == 'pc' %}
											<td><input id="ds-resource{{ resource.address }}" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="" {% if resource.mode == 'ro' %}data-slider-enabled="false"{% endif %}/></td>
											<td><button id="at-resource{{ resource.address }}" class="btn btn-default" type="button">{% if resource.mode == 'wo' %}Write{% else %}Read{% endif %}</button></td>
										{% elif resource.dimension == 'vl' %}
											<td><input id="ds-resource{{ resource.address }}" class="form-control" type="text" {% if resource.mode == 'ro' %}readonly{% endif %}></td>
											<td><button id="at-resource{{ resource.address }}" class="btn btn-default" type="button">{% if resource.mode == 'wo' %}Write{% else %}Read{% endif %}</button></td>
										{% elif resource.dimension == 'at' %}
											<td>Command to send</td>
											<td><button id="at-resource{{ resource.address }}" class="btn btn-default" type="button">Send</button></td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Devices</h3>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							{% for device,counter in counters.items %}
								<a href="?device_name={{ device }}" class="list-group-item {% if current_device == device %}active{% endif %}">
									<span class="badge">{{ counter }}</span>
									{{ device }}
								</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% else %}
			{% include "dashboard/no_device.html" %}
		{% endif %}
	</div>
{% endblock %}

{% block foot_js %}
	<script type="text/javascript">
		{% for resource in resources %}
			{% if resource.dimension == 'bl' %}
				{% if resource.mode == 'wo' %}
					$("#at-resource{{ resource.address }}-true").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "write",
									value: "true"
								},
								function(data, status) {
								}
							)
						}
					);
					$("#at-resource{{ resource.address }}-false").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "write",
									value: "false"
								},
								function(data, status) {
								}
							)
						}
					);
				{% else %}
					$("#ds-resource{{ resource.address }}").bootstrapSwitch();

					$("#at-resource{{ resource.address }}").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "read"
								},
								function(data, status) {
								}
							)
						}
					);
				{% endif %}
			{% elif resource.dimension == 'pc' %}
				$("#ds-resource{{ resource.address }}").slider();

				{% if resource.mode == 'wo' %}
					$("#at-resource{{ resource.address }}").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "write",
									value: $("#ds-resource{{ resource.address }}").val()
								},
								function(data, status) {
								}
							)
						}
					);
				{% else %}
					$("#at-resource{{ resource.address }}").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "read"
								},
								function(data, status) {
								}
							)
						}
					);
				{% endif %}
			{% elif resource.dimension == 'vl' %}
				{% if resource.mode == 'wo' %}
					$("#at-resource{{ resource.address }}").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "write",
									value: $("#ds-resource{{ resource.address }}").val()
								},
								function(data, status) {
								}
							)
						}
					);
				{% else %}
					$("#at-resource{{ resource.address }}").click(
						function() {
							$.post(
								"/device_request/",
								{
									csrfmiddlewaretoken: "{{ csrf_token }}",
									uuid: "{{ resource.device.uuid }}",
									address: "{{ resource.address }}",
									action: "read"
								},
								function(data, status) {
								}
							)
						}
					);
				{% endif %}
			{% elif resource.dimension == 'at' %}
				$("#at-resource{{ resource.address }}").click(
					function() {
						$.post(
							"/device_request/",
							{
								csrfmiddlewaretoken: "{{ csrf_token }}",
								uuid: "{{ resource.device.uuid }}",
								address: "{{ resource.address }}",
								action: "write",
								value: "none"
							},
							function(data, status) {
							}
						)
					}
				);
			{% endif %}
		{% endfor %}
	</script>
{% endblock %}
