{% extends "dashboard/root.html" %}
{% load staticfiles %}

{% block head_css %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block head_js %}
	<script type="text/javascript" src="{% static 'static_jquery/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block head_others %}
	<title>LAYS</title>
{% endblock %}

{% block body_main %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'dashboard:index' %}">LAYS</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% url 'dashboard:index' as index_url %}
				<li {% if request.get_full_path == index_url %}class="active"{% endif %}><a href="{% url 'dashboard:index' %}">Home</a></li>
				{% url 'dashboard:rawdata' as rawdata_url %}
				<li {% if request.get_full_path == rawdata_url %}class="active"{% endif %}><a href="{% url 'dashboard:rawdata' %}">Raw Data</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'admin:index' %}">Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'admin:logout' %}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	{% block content %}{% endblock %}
</div>
{% endblock %}
