{% extends "dashboard/navbar.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
		{% if existing_sequencies %}
			{% if message_type == 'success' %}
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert">x</a>
					<h4 class="alert-heading">Success !</h4>
					{{ message_body }}
				</div>
			{% elif message_type == 'error' %}
				<div class="alert alert-danger">
					<a class="close" data-dismiss="alert">x</a>
					<h4 class="alert-heading">Error !</h4>
					{{ message_body }}
				</div>
			{% endif %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sequencies</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>

						<tbody>
							{% for sequence in sequencies %}
							<tr>
								<th>{{ sequence.name }}</th>
								<th>{{ sequence.description }}</th>
								<th><a class="btn btn-defaul" href="?sequence_id={{ sequence.pk }}" role="button">Send</a></th>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			{% include "dashboard/no_sequence.html" %}
		{% endif %}
		</div>
	</div>
{% endblock %}
